In [2]:
import pandas as pd
import numpy as np
youtube = pd.read_csv('data.csv')

In [3]:
youtube.columns = ['sira', 'derece', 'kanal_adi', 'video_sayisi', 'abone_sayisi', 'goruntulenme_sayisi']

In [4]:
youtube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
sira                   5000 non-null object
derece                 5000 non-null object
kanal_adi              5000 non-null object
video_sayisi           5000 non-null object
abone_sayisi           5000 non-null object
goruntulenme_sayisi    5000 non-null int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [5]:
youtube.head()

,sira,derece,kanal_adi,video_sayisi,abone_sayisi,goruntulenme_sayisi
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

In [6]:
eksik_degerli = youtube[(youtube["video_sayisi"].str.strip() == "--") | (youtube["abone_sayisi"].str.strip() == "--")]
display(eksik_degerli.head())
print('Eksik değerli kayıt satır sayısı : ',  len(eksik_degerli))

,sira,derece,kanal_adi,video_sayisi,abone_sayisi,goruntulenme_sayisi
17,18th,A+,Vlad and Nikita,53,--,1428274554
108,109th,A,BIGFUN,373,--,941376171
115,116th,A,Bee Kids Games - Children TV,740,--,414535723
142,143rd,A,ChiChi TV Siêu Nhân,421,--,2600394871
143,144th,A,MusicTalentNow,1487,--,3252752212

Eksik değerli kayıt satır sayısı :  390

In [9]:
youtube.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [7]:
youtube.nunique()

sira                   5000
derece                    6
kanal_adi              4993
video_sayisi           2286
abone_sayisi           4612
goruntulenme_sayisi    5000
dtype: int64

In [8]:
youtube.isnull().head()

    sira  derece  kanal_adi  video_sayisi  abone_sayisi  goruntulenme_sayisi
0  False   False      False         False         False                False
1  False   False      False         False         False                False
2  False   False      False         False         False                False
3  False   False      False         False         False                False
4  False   False      False         False         False                False

In [10]:
for sutun_adi in youtube.columns:
    print("{} sütunundaki benzersiz değerler : {}".format(sutun_adi, youtube[sutun_adi].unique()))

sira sütunundaki benzersiz değerler : ['1st' '2nd' '3rd' ... '4,998th' '4,999th' '5,000th']
derece sütunundaki benzersiz değerler : ['A++ ' 'A+ ' 'A ' '\xa0 ' 'A- ' 'B+ ']
kanal_adi sütunundaki benzersiz değerler : ['Zee TV' 'T-Series' 'Cocomelon - Nursery Rhymes' ... 'Mastersaint'
 'Bruce McIntosh' 'SehatAQUA']
video_sayisi sütunundaki benzersiz değerler : ['82757' '12661' '373' ... '1735' '706' '3475']
abone_sayisi sütunundaki benzersiz değerler : ['18752951' '61196302' '19238251' ... '3265735' '32990' '21172']
goruntulenme_sayisi sütunundaki benzersiz değerler : [20869786591 47548839843  9793305082 ...   311758426    14563764
    73312511]

In [11]:
for sutun_adi in ["video_sayisi", "abone_sayisi"]:
    print("{} sütunu için problemli değerler : ".format(sutun_adi))
    for deger in youtube[sutun_adi]:
        try:
            float(deger)
        except:
            print(deger)

video_sayisi sütunu için problemli değerler :
--
--
--
--
--
--
abone_sayisi sütunu için problemli değerler :
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--

In [12]:
youtube["video_sayisi"] = youtube["video_sayisi"].apply(str.strip).replace("--", np.nan)
youtube["video_sayisi"] = pd.to_numeric(youtube["video_sayisi"], downcast="float")

youtube["abone_sayisi"] = youtube["abone_sayisi"].apply(str.strip).replace("--", np.nan)
youtube["abone_sayisi"] = pd.to_numeric(youtube["abone_sayisi"], downcast="float")

In [13]:
youtube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
sira                   5000 non-null object
derece                 5000 non-null object
kanal_adi              5000 non-null object
video_sayisi           4994 non-null float32
abone_sayisi           4613 non-null float32
goruntulenme_sayisi    5000 non-null int64
dtypes: float32(2), int64(1), object(3)
memory usage: 195.4+ KB

In [14]:
youtube.isnull().head(20)

     sira  derece  kanal_adi  video_sayisi  abone_sayisi  goruntulenme_sayisi
0   False   False      False         False         False                False
1   False   False      False         False         False                False
2   False   False      False         False         False                False
3   False   False      False         False         False                False
4   False   False      False         False         False                False
5   False   False      False         False         False                False
6   False   False      False         False         False                False
7   False   False      False         False         False                False
8   False   False      False         False         False                False
9   False   False      False         False         False                False
10  False   False      False         False         False                False
11  False   False      False         False         False                False
12  False   False      False         False         False                False
13  False   False      False         False         False                False
14  False   False      False         False         False                False
15  False   False      False         False         False                False
16  False   False      False         False         False                False
17  False   False      False         False          True                False
18  False   False      False         False         False                False
19  False   False      False         False         False                False

In [15]:
youtube.shape[0]

5000

In [16]:
youtube.isnull().sum()*100/youtube.shape[0]

sira                   0.00
derece                 0.00
kanal_adi              0.00
video_sayisi           0.12
abone_sayisi           7.74
goruntulenme_sayisi    0.00
dtype: float64

In [17]:
youtube.derece.value_counts()

B+      2956
A-      1024
A        963
A+        41
A++       10
           6
Name: derece, dtype: int64

In [18]:
youtube.derece = youtube.derece .apply(str.strip).replace("", np.nan)

youtube.derece.unique()

array(['A++', 'A+', 'A', nan, 'A-', 'B+'], dtype=object)

In [19]:
youtube.head()

,sira,derece,kanal_adi,video_sayisi,abone_sayisi,goruntulenme_sayisi
0,1st,A++,Zee TV,82757.0,18752952.0,20869786591
1,2nd,A++,T-Series,12661.0,61196304.0,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373.0,19238252.0,9793305082
3,4th,A++,SET India,27323.0,31180560.0,22675948293
4,5th,A++,WWE,36756.0,32852346.0,26273668433

In [20]:
youtube["video_sayisi"].fillna(youtube["video_sayisi"].mean(), inplace=True)
youtube["abone_sayisi"].fillna(youtube["abone_sayisi"].mean(), inplace=True)

In [21]:
youtube.isnull().sum()*100/youtube.count()

sira                   0.000000
derece                 0.120144
kanal_adi              0.000000
video_sayisi           0.000000
abone_sayisi           0.000000
goruntulenme_sayisi    0.000000
dtype: float64

In [22]:
derece_listesi = youtube.derece

for i in range(0, len(derece_listesi)):
    if pd.isnull(derece_listesi[i]):
        derece_listesi[i] = derece_listesi[i-1]
        
youtube["derece"].unique()

C:\Users\Administrator\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

array(['A++', 'A+', 'A', 'A-', 'B+'], dtype=object)

In [23]:
youtube.isnull().sum()*100/youtube.count()

sira                   0.0
derece                 0.0
kanal_adi              0.0
video_sayisi           0.0
abone_sayisi           0.0
goruntulenme_sayisi    0.0
dtype: float64

In [25]:
youtube.to_csv('veri_kumeleri.csv', encoding = 'utf8')

In [26]:
youtube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
sira                   5000 non-null object
derece                 5000 non-null object
kanal_adi              5000 non-null object
video_sayisi           5000 non-null float32
abone_sayisi           5000 non-null float32
goruntulenme_sayisi    5000 non-null int64
dtypes: float32(2), int64(1), object(3)
memory usage: 195.4+ KB